#about-me {
    background-color: var(--white-color);
    padding: 50px 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    opacity: 0; /* Inicia invisible */
    transform: translateY(50px); /* Inicia desplazada hacia abajo */
    transition: all 0.5s ease-in-out;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  #about-me.fade-in {
    opacity: 1; /* Aparece completamente */
    transform: translateY(0); /* Desplazamiento normal */
  }
  
  .about-me-container {
    max-width: 800px;
    margin: 0 auto;
    color: var(--secondary-color);
  }
  
  #about-me h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  #about-me p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: var(--text-color);
  }
  
  /* Animación */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  